@charset "UTF-8"
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
}
header{
    text-align: center;
    font-size: 20px;
    padding: 40px;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}
div#containerAll{
    width: 400px;
    height: 100px;
    border-radius: 10px;
    background-color: cyan;
    padding: 40px 50px 55px;
}
div#containerAll > div#containerRadio > p, div#containerAll > div#containerRadio > label {
    display: inline-block;
}
label#idate, p#iSexo{
    font-weight: bold;
}
div#containerDate{
    padding: 8px 0;
    font-size: 20px;
}
div#containerRadio{
    padding: 8px 0;
    font-size: 20px;
}
div#containerAll > div#button > button {
    display: block;
    margin: auto;
    width: 100%;
    padding: 10px 0;
    background-color: bisque;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    font-size: 19px;
}
input{
    outline: none;
    border: none;
    border-radius: 3px;
    padding: 4px;
}
footer{
    text-align: center;
    font-size: 12px;
}
